<div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Registration</b>Page</a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Create Account</p>
  
      <form action="#" method="post">
        <div class="form-group has-feedback">
          <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group has-feedback">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" name="id-number" class="form-control" placeholder="ID Number">
        </div>
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
        </div>
      </form>
    </div>
</div>
