
<nav class="navbar navbar-default navbar-fixed-top navbar-color">
    <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>Dashboard</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
    </div>
</nav>